// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// Colors
$primary: #86AADA;
$light: #FCFCFC;
$dark: #797979;

// Navbar
$navbar-light-color: $dark;
$link-shade-percentage: 30%;
$navbar-light-active-color: shift-color($navbar-light-color, $link-shade-percentage);
$navbar-light-hover-color: shift-color($navbar-light-color, $link-shade-percentage);
$navbar-toggler-font-size: 18pt;
$navbar-light-disabled-color: $dark;
$navbar-light-icon-color: $dark;
$navbar-light-toggler-border-color: none;
$navbar-toggler-focus-width: 0px;

// fonts
$h1-font-size: 1.50rem;
$h2-font-size: 1.35rem;
$h3-font-size: 1.05rem;



// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
    "primary": $primary,
    "light": $light,
    "dark": $dark
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size
);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
body, html {
    margin: 0;
    padding: 0;
    background-color: $light;
    color: $dark;
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 0.7pt;
}

h2 {
    font-weight: 600;
}